<section id="Programacao" class="text-center section-padding">
  <div class="col-12">
    <div class="section-title-header text-center">
      <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Programação e Mentores</h1>
      <p class="wow fadeInDown" data-wow-delay="0.2s">Conheça nossos cursos e aproveite para se inscrever </p>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row  col-12 professores" id="professores">
    <div class="col-sm-6 col-md-4 col-lg-2">
      <!-- Team Item Starts -->
      <div class="card">
        <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
          <div>
            <button class="btn bg-gradient active col" style=" padding:2%;" onclick="filterSelection('all')">
              <h6>Programação<br /> completa</h6>
            </button>
            <!-- Team Item Ends -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <!-- Team Item Starts -->
      <div class="card">
        <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
          <div class="team-img">
            <img class="img-fluid"
              src="https://images.unsplash.com/flagged/photo-1574110927268-654659407b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80"
              alt="">
            <div class="team-overlay">
              <div class="overlay-social-icon text-center">
                <ul class="social-icons">
                  <li><a href="https://www.facebook.com/"><i class="lni-facebook-filled" aria-hidden="true"></i></a>
                  </li>
                  <li><a href="https://twitter.com/explore" target=_blank><i class="lni-twitter-filled"
                        aria-hidden="true"></i></a></li>
                  <li><a href="https://www.linkedin.com/feed/" target=_blank><i class="lni-linkedin-filled"
                        aria-hidden="true"></i></a></li>
                  <li><a href="https://github.com/" target=_blank><i class="lni-github" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="info-text professor">
            <h3>André Ferraz</h3>
            <p>Data Science, Airbnb</p><button class="btn bg-gradient" onclick="filterSelection('AF')"><i
                class="fa fa-angle-double-down" aria-hidden="true"></i>
              Cursos</button>

          </div>
        </div>
      </div>
      <!-- Team Item Ends -->
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <!-- Team Item Starts -->
      <div class="card">
        <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
          <div class="team-img">
            <img class="img-fluid" src="/assets/images/photo-1573496800808-56566a492b63.jpg" alt="">
            <div class="team-overlay">
              <div class="overlay-social-icon text-center">
                <ul class="social-icons">
                  <li><a href="https://www.facebook.com/"><i class="lni-facebook-filled" aria-hidden="true"></i></a>
                  </li>
                  <li><a href="https://twitter.com/explore" target=_blank><i class="lni-twitter-filled"
                        aria-hidden="true"></i></a></li>
                  <li><a href="https://www.linkedin.com/feed/" target=_blank><i class="lni-linkedin-filled"
                        aria-hidden="true"></i></a></li>
                  <li><a href="https://github.com/" target=_blank><i class="lni-github" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="info-text professor">
            <h3>Marcela Gales</h3>
            <p>Researcher, Petz</p><button class="btn bg-gradient" onclick="filterSelection('MG')"><i
                class="fa fa-angle-double-down" aria-hidden="true"></i>
              Cursos</button>

          </div>
        </div>
      </div>
      <!-- Team Item Ends -->
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <!-- Team Item Starts -->
      <div class="card">
        <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
          <div class="team-img">
            <img class="img-fluid"
              src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
              alt="">
            <div class="team-overlay">
              <div class="overlay-social-icon text-center">
                <ul class="social-icons">
                  <li><a href="https://www.facebook.com/"><i class="lni-facebook-filled" aria-hidden="true"></i></a>
                  </li>
                  <li><a href="https://twitter.com/explore" target=_blank><i class="lni-twitter-filled"
                        aria-hidden="true"></i></a></li>
                  <li><a href="https://www.linkedin.com/feed/" target=_blank><i class="lni-linkedin-filled"
                        aria-hidden="true"></i></a></li>
                  <li><a href="https://github.com/" target=_blank><i class="lni-github" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="info-text professor">
            <h3>Gabriela Cunha</h3>
            <p>UX Design, Facebook</p><button class="btn bg-gradient" onclick="filterSelection('GC')"><i
                class="fa fa-angle-double-down" aria-hidden="true"></i>
              Cursos</button>

          </div>
        </div>
        <!-- Team Item Ends -->
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <!-- Team Item Starts -->
      <div class="card">
        <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
          <div class="team-img">
            <img class="img-fluid"
              src="https://images.unsplash.com/photo-1590086782792-42dd2350140d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
              alt="">
            <div class="team-overlay">
              <div class="overlay-social-icon text-center">
                <ul class="social-icons">
                  <li><a href="https://www.facebook.com/"><i class="lni-facebook-filled" aria-hidden="true"></i></a>
                  </li>
                  <li><a href="https://twitter.com/explore" target=_blank><i class="lni-twitter-filled"
                        aria-hidden="true"></i></a></li>
                  <li><a href="https://www.linkedin.com/feed/" target=_blank><i class="lni-linkedin-filled"
                        aria-hidden="true"></i></a></li>
                  <li><a href="https://github.com/" target=_blank><i class="lni-github" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="info-text professor">
            <h3>Miguel Munhoz</h3>
            <p>Tech Lead, B2W</p><button class="btn bg-gradient" onclick="filterSelection('MM')"><i
                class="fa fa-angle-double-down" aria-hidden="true"></i>
              Cursos</button>

          </div>
        </div>
        <!-- Team Item Ends -->
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 ">
      <!-- Team Item Starts -->
      <div class="card">
        <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
          <div class="team-img">
            <img class="img-fluid" src="/assets/images/photo-1573497161161-c3e73707e25c.jpg" alt="">
            <div class=" team-overlay">
              <div class="overlay-social-icon text-center">
                <ul class="social-icons">
                  <li><a href="https://www.facebook.com/"><i class="lni-facebook-filled" aria-hidden="true"></i></a>
                  </li>
                  <li><a href="https://twitter.com/explore" target=_blank><i class="lni-twitter-filled"
                        aria-hidden="true"></i></a></li>
                  <li><a href="https://www.linkedin.com/feed/" target=_blank><i class="lni-linkedin-filled"
                        aria-hidden="true"></i></a></li>
                  <li><a href="https://github.com/" target=_blank><i class="lni-github" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="info-text professor">
            <h3>Paula de Melo</h3>
            <p>Dev. Full Stack, TOTVS</p><button class="btn bg-gradient" onclick="filterSelection('PM')"><i
                class="fa fa-angle-double-down" aria-hidden="true"></i>
              Cursos</button>

          </div>
        </div>
        <!-- Team Item Ends -->
      </div>
    </div>
  </div>

  <!---            -CURSOS             ---->
  <div class=" row col-12 materias" id="materias">
    <div class="col-sm-6 col-md-4  col-lg-2">
      <div class="blog-item  set-bg materia all AF MM" data-af data-mm
        data-setbg="https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80">
        <div class="bi-tag bg-gradient">Data Science</div>
        <div class="bi-text brightness saturate ">
          <h6><a href="">Introdução a Ciências de Dados</a>
          </h6>
          <span><i class="far fa-clock"></i> 10 Ago, 2020</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4  col-lg-2">
      <div class="blog-item set-bg  materia all AF" data-af
        data-setbg="https://research.msu.edu/wp-content/uploads/2020/01/math-billboard.jpg">
        <div class="bi-tag bg-gradient">Data Science</div>
        <div class="bi-text brightness saturate">
          <h6><a href="">Probabilidade e Estatística</a>
          </h6>
          <span><i class="far fa-clock"></i> 11 Ago, 2020</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4  col-lg-2">
      <div class="blog-item  set-bg materia all AF PM MM" data-af data-mm data-pm
        data-setbg="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
        <div class="bi-tag bg-gradient">Inovação</div>
        <div class="bi-text brightness saturate">
          <h6><a href="">Métodologia Ágil</a>
          </h6>
          <span><i class="far fa-clock"></i> 12 Ago, 2020</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4  col-lg-2">
      <div class="blog-item  set-bg materia all CS" data-cs
        data-setbg="https://mundoconectado.com.br/uploads/chamadas/darkmodemicrosoft_chamada.jpg">
        <div class="bi-tag bg-gradient">Dev Web</div>
        <div class="bi-text brightness saturate">
          <h6><a href="">Desenvolvimento Front-end</a>
          </h6>
          <span><i class="far fa-clock"></i> 13 Ago, 2020</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4  col-lg-2">
      <div class="blog-item bg-img set-bg materia all PM" data-pm
        data-setbg="https://timeline.canaltech.com.br/89306.1400/backend-nos-bastidores-da-aplicacao.jpg">
        <div class="bi-tag bg-gradient">Dev Web</div>
        <div class="bi-text brightness saturate">
          <h6><a href="">Desenvolvimento Back-end</a>
          </h6>
          <span><i class="far fa-clock"></i> 14 Ago, 2020</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4  col-lg-2">
      <div class="blog-item set-bg materia all MG " data-mg data-af data-setbg="https://i.imgur.com/ReZGj1b.png">
        <div class="bi-tag bg-gradient">Analytics</div>
        <div class="bi-text brightness saturate">
          <h6><a href="">Fundamentos de Google Analytics</a>
          </h6>
          <span><i class="far fa-clock" aria-hidden="true"></i>
            17 Ago, 2020</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4  col-lg-2">
      <div class="blog-item  set-bg materia all MG AF" data-mg data-af
        data-setbg="https://images.unsplash.com/photo-1511376777868-611b54f68947?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
        <div class="bi-tag bg-gradient">Analytics</div>
        <div class="bi-text saturate  brightness">
          <h6><a href="">Métodologia de Testes</a>
          </h6>
          <span><i class="far fa-clock"></i> 18 Ago, 2020</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4  col-lg-2">
      <div class="blog-item   set-bg materia MG all " data-mg
        data-setbg="https://wireup.it/wp-content/uploads/2019/01/ux-user-experience-design-web-agency-milano.jpg">
        <div class="bi-tag bg-gradient">UX</div>
        <div class="bi-text brightness saturate">
          <h6><a href="">User Experience Design</a>
          </h6>
          <span><i class="far fa-clock"></i> 19 Ago, 2020</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4  col-lg-2">
      <div class="blog-item  set-bg materia GC  all " data-gc
        data-setbg="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRRo5QUybgfAwTfpKd7tZ7IFt34BwlJjpj72A&usqp=CAU">
        <div class="bi-tag bg-gradient">UX</div>
        <div class="bi-text brightness brightness saturate">
          <h6><a href="">UX Writing</a>
          </h6>
          <span><i class="far fa-clock"></i> 20 Ago, 2020</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4  col-lg-2">
      <div class="blog-item  set-bg materia all MM GC" data-mm data-gc
        data-setbg="https://images.pexels.com/photos/256502/pexels-photo-256502.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
        <div class="bi-tag bg-gradient">Dev Web</div>
        <div class="bi-text brightness saturate">
          <h6><a href="">Lógica
              de Programação</a>
          </h6>
          <span><i class="far fa-clock"></i> 21 Ago, 2020</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4  col-lg-2">
      <div class="blog-item  set-bg materia all PM GC MM MC " data-mc data-mm data-pm data-gc
        data-setbg="https://images.pexels.com/photos/2694434/pexels-photo-2694434.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        <div class="bi-tag bg-gradient">Inovação</div>
        <div class="bi-text saturate brightness">
          <h6><a href="">Design Thinking</a>
          </h6>
          <span><i class=" far fa-clock"></i> 24 Ago, 2020</span>
        </div>
      </div>
    </div>
  </div>
</div>
